fastapi
uvicorn

chromadb
duckdb

sentence-transformers
transformers
huggingface_hub

requests
pyyaml
numpy

openai
python-dotenv
tqdm

python-docx
python-multipart # required for uvicorn
# Datadog Integration
datadog-api-client
python-dateutil

# Async & Caching
aiohttp
cachetools
httpx
